.log {
    width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#contact {
    height: 50px;
    padding: 10px;
}

#legal {
    height: 50px;
    padding: 10px;
}

#nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    /* margin-top: 10px; */
    padding-left: 3ex;
    width: 170ex;
    justify-content: space-between;
}

#leftnav {
    width: 15ex;
    margin-left: 12.5ex;
}

#rightnav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* padding: 15px; */
}

#bdy {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-right: 0;
    padding-right: 0;
}

#form {
    padding-left: 9ex;
    margin-right: 45ex;
    width: 50ex;
}

#lg {
    width: min-content;
}

#SAlogo {
    width: 60ex;
    height: 60ex;
    justify-content: center;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
    margin-top:30px;
}



#check {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#radio1 {
    width: 50%;
    margin-left: 0;
}

#radio1 label,
#radio2 label {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#radio1 input,
#radio2 input {
    width: 2.5ex;
    margin-right: 1ex;
}

#radio2 {
    width: 50%;
}

.inbox {
    width: 100%;
    height: 30px;
    border-radius: 1.5ex;
}

#email {
    background: url("./human.png") no-repeat;
    background-size: 2ex;
    background-position: 98%;
}

.adjust {
    margin-bottom: 2px;

}

#signInbtn {
    width: 100%;
    height: 35px;
    background-color: #2f1263;
    color: white;
    border-radius: 2em;
}

#snBtn {
    margin-top: 40px;
    width: 100%;
}

#footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#remember {
    width: 20ex;
}

#remember label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#remember input{
    width: 2.5ex;
    margin-right: 1ex;
}

#help {
    width: 11ex;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#help a {
    color: black;
}

#lastLine {
    margin-top: 20px;
    padding-top: 30px;
    width: 40ex;
}

#lastLine a {
    color: #2f1263;
    font-weight: bold;
    margin-left: 1ex;
}

#snup {
    width: 150px;
    height: 30px;
    background-color: #2f1263;
    border-radius: 2em;
   
}

#snup a{
    color: white;
}

#pswd{
   
    background:none;
}

#pwd{
    /* opacity: 20%; */
    border: black 4px;
    border-radius: 1.5ex;
}
@media (max-width:1023px) {

    .log{
        width:100vw;    
    }

    #SAlogo{
        width:50ex;
        height:50ex;
        justify-content: center;
        align-items: center;  
        
    }

    #form {
        /* padding-left: 30px; */
        margin-right: 10ex;
        width: 50ex;
        margin-top:15ex;
        justify-content: center;
        align-items: center;    
    }

    #form h1{
        text-align: center;
    }

    #bdy{
        display:contents;
        justify-content: center;
        align-items: center;   
    }

    #lg {
        position: absolute;
        justify-content: center;
        align-items: center;
        z-index: -1;
        opacity:25%;
    }

    #footer {
        flex-direction: column;
    }

    #nav {
        width: 50ex;
    }

    #leftnav{
        margin-left:5ex;
    }
}

@media (min-width:250px) and (max-width:415px){

    .log{
        width:fit-content;
    }
}